.submit-button {
    background-image: url(../../images/Submit\ Button.svg);
    border: none;
    background-color: transparent;
    max-width: 358px;
    height: 50px;
    background-position: center;
    border-radius: 2px;
}

.submit-button:hover {
    opacity: .8;
    cursor: pointer;
}

